{% extends 'base.html.twig' %}
{% block title %}Login | MamanBudget{% endblock %}

{% block body %}
  <div class="container">
    <h1>Maman Budget</h1>

    <!-- Image de fond -->
    <img src="{{ asset('images-mamanSolo/living-room.webp') }}" alt="Salon" class="background">

    <!-- Personnage -->
    <img src="{{ asset('images-mamanSolo/avatar-maman.png') }}" alt="Maman" class="character">

    <form method="post" action="{{ path('app_login') }}" class="connexion-form">
      <h2>Connexion</h2>

      {% if error %}
        <div class="error">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <label for="username">E-mail :</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="_password" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      <div class="btn-connection">
        <button class="btn-connecter" type="submit">Se connecter</button>
        <a href="{{ path('app_register') }}" class="btn-connecter">Créer un compte</a>
      </div>
    </form>
  </div>
{% endblock %}
